<form method="post">
  <div class="container m-2">
    <div class="row">
      <div class="col">
        <label for="nome">Nome</label>
        <input
          class="form-control"
          [(ngModel)]="pessoa.nome"
          type="text"
          name="nome"
          id="nome"
        />
      </div>
      <div class="col">
        <label for="sobrenome">Sobrenome</label>
        <input
          class="form-control"
          [(ngModel)]="pessoa.sobrenome"
          type="text"
          name="sobrenome"
          id="sobrenome"
        />
      </div>
    </div>

    <div class="col-6">
      <label for="telefone">Telefone</label>
      <input
        class="form-control"
        [(ngModel)]="pessoa.telefone"
        type="tel"
        name="telefone"
        id="telefone"
      />
    </div>

    <div>
      <label for="endereco">Endereço</label>
      <textarea
        class="form-control"
        [(ngModel)]="pessoa.endereco"
        type="text"
        name="endereco"
        id="endereco"
      ></textarea>
    </div>
  </div>
</form>
{{ pessoa.nome }} {{ pessoa.sobrenome }} {{ pessoa.endereco }}
{{ pessoa.telefone }}
